* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {color: red;
   font-size: 20px;
   font-family: Arial;
}

h1 {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  padding: 10px;
  text-align: center;
}
.rectangle {
  display: inline-block;
  width: 200px;
  height: 300px;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}